.ContainerWrapper {
  display: flex;              
  flex-wrap: wrap;            
  gap: 16px;                  
  justify-content: center;    
  margin: 20px auto;          
  width: 100%;
}

.StatContainer {
  text-align: center; 
  line-height: 50px;
  background-color: #1f1f2f;
  max-width: 700px;
  min-width: 100px;           
  height: 50px;              
  border-radius: 8px;
  flex: 1;                    
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
